.img{
  display:flex;
  justify-content:center;
}
h1{
  text-align:center;
  color:LightCyan;
}
body{
  background-image:url("https://img.7dach.ru/image/600/17/79/12/2022/02/26/97bc20.jpg");
}
a{
  text-decoration:none;
  border:3px dotted gray;
  color:LightCyan;
  font-size:20px;
  box-shadow:5px 5px 10px black;
}